.wy-side-nav-search::before {
    content: "";
    display: block;
    height: 100px;  /* adjust for logo height */
    background: url('_static/bees.jpg') no-repeat center;
    background-size: contain;
    margin-bottom: 10px;
}
